#save-form {
    width: 700px;
}

* {
    font-family: 'Noto Sans KR', sans-serif;
}

.login-form {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
  }

 .user-info {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .submit {
    background-color: #008CBA;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 360px;
  }

  .go-save {
    margin-left: 150px;
  }